* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
	font-family: 'Comfortaa', sans-serif;
	color: #fff;
	font-size: 36px;
    background-color: #333;
}
table {
    border: 4px solid #111;
    width: 30%; /* responsywne do rodzica "body" */
    /* width: 340px; */
    margin: 30px;
    background-color: transparent
}
td {
    /* background-color: grey; */
    color: silver;
    text-align: center;
    /* width: 33.3%;  <----  czy to potrebne?*/ 
    padding: 10px;
    background-color: grey;
    min-width: 60px;
}
.fa-brands {
    background-color: transparent;
}
.fa-apple:hover {
    color: black;
}
.fa-google:hover {
    color: blue;
}
.fa-windows:hover {
    color: greenyellow;
}


img {
    width: 75%;
    /* width: 800px; */
    border-radius: 25px;
    display: block;
    margin: 60px auto;
    height: 30%;
    min-width: 300px;
}
.container-for-text {
    padding: 30px;
}
.first-word {
    color: tomato;
    text-decoration: underline;
}
ol {
    margin-left: 75px;
}
.first-list-elements {
    padding-left: 35px;
    margin: 25px 0px;
    color: silver;
}
/* #646cfd */
.box-1 {
    width: 400px;
    height: 400px;
    background-color: gold;
}
.circle {
    width: 300px;
    height: 300px;

    background-color: rgb(255, 0, 0, .3);
    /* background-color: rgb(255, 0, 0, 30%); */
    /* opacity: 30%; */

    border-radius: 100%;
}
.box-2 {
    max-width: 800px;
    min-width: 500px;
    width: 100%;
    height: 200px;
    background-color: lime;
}
.box-3 {
    width: 50vw;
    height: 300px;
    background-color: tomato;
}
.inside {
    width: 50%;
    height: 50vw;
    background-color: #646cfd;
}

div > p {
    color: red;
}
div.child > p {
    text-decoration: line-through;
    font-weight: bold;
}
div#test ~ div {
    background-color: blue;
}
main + p {
    text-transform: uppercase;
}